body {
    height: auto;
    width: auto;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
}

/*#container div{
    width: 25px;
    height: 25px;
}*/

.line div {
    background-color: red;
}